<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>302497509246-vgjj6sgcel7t7cgliolsu466ifshu4nu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302497509246-vgjj6sgcel7t7cgliolsu466ifshu4nu</string>
	<key>API_KEY</key>
	<string>AIzaSyA7ppHJ_z3VwP_P8bQXUYR641fGb_GwZVI</string>
	<key>GCM_SENDER_ID</key>
	<string>302497509246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ASU.HikeSpot</string>
	<key>PROJECT_ID</key>
	<string>hikespot-5620b</string>
	<key>STORAGE_BUCKET</key>
	<string>hikespot-5620b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302497509246:ios:adf95992148a6267540d2f</string>
	<key>DATABASE_URL</key>
	<string>https://hikespot-5620b.firebaseio.com</string>
</dict>
</plist>